
.pemadam[data-v-3acaffd4] {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pos[data-v-3acaffd4] {
  padding: 10px;
  display: table;
}
.left[data-v-3acaffd4] {
  display: table-cell;
  vertical-align: middle;
}
.left .icon[data-v-3acaffd4] {
    width: 50px;
    margin-right: 10px;
}
.right[data-v-3acaffd4] {
  display: table-cell;
}
.title[data-v-3acaffd4] {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.alamat[data-v-3acaffd4], .kel[data-v-3acaffd4] {
  font-size: 14px;
  color: #999;
}
.search[data-v-3acaffd4] {
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__text[data-v-3acaffd4] {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    border: 1px solid #ffb347;
    border-radius: .5em;
}

.highlight {
  color: #0096D9;
}

.fade-enter-active[data-v-d9e772f2], .fade-leave-active[data-v-d9e772f2] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.fade-enter[data-v-d9e772f2], .fade-leave-to[data-v-d9e772f2] {
  opacity: 0;
}
.sidebar-cover[data-v-d9e772f2] {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  z-index: 19;
}
.loading[data-v-d9e772f2] {
  text-align: center;
  padding-top: 50px;
}

.sidebar[data-v-b8903ba6] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 70%;
  height: 40em;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 20;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: transform 300ms;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.sidebar--open[data-v-b8903ba6] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.sidebar__head[data-v-b8903ba6] {
    height: 60px;
    background-color: #ffb347;
}
.sidebar__head img[data-v-b8903ba6] {
      height: 50px;
      padding: 5px 0 0 15px;
}
.sidebar__content[data-v-b8903ba6] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    background: #fff;
}
.sidebar__menu[data-v-b8903ba6] {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar__link[data-v-b8903ba6] {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
}
.sidebar__link i[data-v-b8903ba6] {
      font-size: 24px;
      margin-right: 15px;
      vertical-align: middle;
}

.pointer[data-v-4ed7b5a9] {
  cursor: pointer;
}
.header[data-v-4ed7b5a9] {
  height: 60px;
}
.header__sticky[data-v-4ed7b5a9] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: table;
    margin: 0;
    height: 60px;
    background: #ffb347;
    text-align: center;
    color: #fff;
    width: 100%;
}
.header__content[data-v-4ed7b5a9] {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.header__brand[data-v-4ed7b5a9] {
    width: auto;
    height: 50px;
}
.header__nav[data-v-4ed7b5a9] {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.header__nav[data-v-4ed7b5a9]:first-child {
      text-align: left;
      padding-left: 15px;
      width: 50px;
}
.header__nav[data-v-4ed7b5a9]:last-child {
      text-align: right;
      padding-right: 15px;
      width: 50px;
}
.header__hamburger[data-v-4ed7b5a9], .header__search[data-v-4ed7b5a9] {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: #fff;
    font-size: 30px;
}
